/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  font: 16px/26px "Itim", cursive, Helvetica, Helvetica Neue, Arial;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#32fceb+0,8487f4+100 */
  background: #32fceb; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #32fceb 0%,
    #8487f4 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #32fceb 0%,
    #8487f4 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #32fceb 0%,
    #8487f4 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32fceb', endColorstr='#8487f4',GradientType=1 ); /* IE6-9 */
}
/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
  padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   
   ========================================================================== */

.main-container {
  margin-top: 35vw;
}

#dumbName {
  text-align: center;
  color: white;
  font-size: 18vw;
  line-height: 18vw;
  max-height: 18vw;
  margin: 0;
}

.moreButton {
  margin-top: 23vw;
  border: 1px solid white;
  border-radius: 500px;
  background-color: white;
  padding: 0 12px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
